:root {
    --footer-color: #4b4c4d;
    --main-color: #5EACD3;
}
a{
    text-decoration: none;
    color:var(--main-color);
}
*{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
}
#header a {
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 1000;

}

#header p {
    color: var(--main-color);
    margin-left: 15rem;
    font-size: 18px;
}

nav {
    text-align: right;
}

nav ol {
    display: flex;
    margin-right: 15rem;
}

nav ol li {
    margin: 0 8px;
}

#header nav ol li a:hover {
    color:var(--main-color);
    transition-duration: 0.35s;
    position: relative;
    top: 2px;
}

body {
    margin: 0;
    padding: 0;

}

main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
    padding: 30px 0;
    min-height: 100vh;
}

#header a p:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}


#aboutMe{
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: 95vh;
    background: url(../img/aboutMeBackground.png) no-repeat center center/cover;
}

#aboutMe #aboutMe-Content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
}
#aboutMe hr {
    width: 10%;
    height: 6px;  
    border-radius: 10px;
    background-color: white;
    margin: 20px auto; 
}
#aboutMe-Content p{
    font-size:1.1rem;
}
#aboutMe-Content h1{
    font-size: 2.3rem;
}
#languages{
    position: absolute;
    top: 85%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#languages p{
    color:white;
    font-size: 1.2rem;
    font-weight: 600;
}
#languages ul{
    display:flex;
}
#languages ul li{
    margin: auto;
}
#languages ul li img{
    width: 4rem;
}




















#timeline {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position:relative;
    overflow: hidden;
}


#timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: #CCD1D9;
} 
.timeline-block{
    width: 50%;
    display: flex;
    clear: both;
    margin: auto -10px;
}
.timeline-block-right {
    float: right;
    margin-right: -1000px;
    transition: 0.5s;
}
.timeline-block-left {
    float: left;
    direction: rtl; 
    margin-left: -1000px;
    transition: 0.5s;
}

.timeline-left-block-show{
    margin-left: -10px;
}
.timeline-right-block-show{
    margin-right: 30px;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color);   
    z-index: 1; 
    border: 2px solid #f5f7fad5;
    margin-top: 7px;
}
.timeline-content{
    padding: 0 15px;
    width: 95%;
}

.timeline-content time{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}
.timeline-content .diploma{
    font-size:1.2rem;
    color: #aaa;
    margin:4px auto;
}
.timeline-content .description {
    font-size: 1.1rem;
    line-height: 1.1rem;
}
#timeline a:hover{
    font-weight: 600;
}




footer {
    text-align: center;
}

footer > a {
    color: var(--footer-color);
    font-size: 24px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    opacity: 0.8;
    transition-duration: 350ms;
}

footer > a:hover {
    color: black;
    opacity: 1;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    text-decoration: none;
    color: var(--footer-color);
}

footer ul li a:hover {
    color: var(--main-color);
    font-weight: bold;
}

footer p {
    margin-top: 15px;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 0;
}
#logoMail{
    width: 20px;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    opacity:0.1;
}

