:root {
    --footer-color: #4b4c4d;
    --main-color: #1663A5;
}
*{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
}
#header a {
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;

}

#header p {
    color: var(--main-color);
    margin-left: 15rem;
    font-size: 18px;
}

nav {
    text-align: right;
}

nav ol {
    display: flex;
    margin-right: 15rem;
}

nav ol li {
    margin: 0 8px;
}

#header nav ol li a:hover {
    color:var(--main-color);
    transition-duration: 0.35s;
    position: relative;
    top: 2px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 80px;

}

#header a p:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

footer {
    text-align: center;
}

footer #logo a {
    color: var(--footer-color);
    font-size: 24px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    opacity: 0.8;
    transition-duration: 350ms;
}

footer #logo a:hover {
    color: black;
    opacity: 1;
}

footer #nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

footer #nav ul li {
    margin: 0 8px;
}

footer #nav ul li a {
    text-decoration: none;
    color: var(--footer-color);
}

footer #nav ul li a:hover {
    color: var(--main-color);
    font-weight: bold;
}

footer p {
    margin-top: 15px;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 0;
}


#AboutMe{
    text-align: center;
    margin-top: 125px;
}
#separator {
    width: 10%;
    height: 6px;  
    border-radius: 10px;
    background-color: var(--main-color);
    margin: 20px auto; 
}
#logoMail{
    width: 20px;
}